<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">

			<a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> Heros</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navdemo"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-navdemo">

			<ul class="nav navbar-nav">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>

		    <ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<%if (typeof user !== 'undefined') { %>
					<li><a href="profile">Profile</a></li>
					<li><a href="/auth/logout">Logout</a></li>
				<% }else { %> 
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				<% } %>   
			</ul>			
		</div>		
    </div>
</nav>