<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
</head>
<body>
	<%
		let i;
		for(i=0;i<data.length;i++){
	%>
		
		<img src=<%=data[i].image.url%>>
		<h3><%=data[i].name%></h3>
		<br>
	<%}%>
</body>
</html>