<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
	<div class = "main_div">
		<div class = "centre_div" id = "centrediv">	
				<%
					let i;
					for(i=0;i<data.length;i++){
				%>
				<a href="/show/<%=data[i].id%>">
					<div class="ind">	
					<img src=<%=data[i].image.url%>>
						<span><%=data[i].name%></span>
					</div>
				</a>
				<%}%>
	    </div>	
	</div>
</body>
</html>