body{
    background-size : cover;    
    background-position: center;
    font-family: 'Bangers', cursive ;
    color : white; 
    animation : animate 16s ease-in-out infinite;
}
body, html {
 height: 100%;
}

.btn{
    transform : scale(0.95);
    opacity : 0.95;
}

.content{
    text-align: center;
    padding-top: 20%;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}
.inputtext{
    color : black;
    transform : scale(1.2);
    margin : 20px;
    opacity : 0.95;
}
h1{
    font-weight: 700;
    font-size: 5em;
}
hr{
    width : 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@keyframes animate{
    0%,100%{
        background-image : url(1.jpg); 
    }
    25%{
        background-image : url(2.jpg); 
    }
    50%{
        background-image : url(3.jpg); 
    }
    75%{
        background-image : url(4.jpg); 
    }		
}